<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     ARMY BTS INDONESIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
  <ion-card class="welcome-card bg-content">
  <ion-card-header>
  <ion-card-title color="primary"> Army </ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-list>
    
  <img src="assets/img/bts23.jpg">

  <ion-card-header>
  <ion-card-title color="primary">Information</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list><p><strong>Yeorobun</strong></p></ion-list>
    <ion-list><p><strong>Other Names</strong></p></ion-list>
    <p>- A.R.M.Y </p>
    <p>- Adorable Representative M.C. for Youth </p>
    <p>- Wulsa Army </p>
    <ion-list><p><strong>Type</strong></p></ion-list>
    <p>Fandom</p>
    <ion-list><p><strong>Founded</strong></p></ion-list>
    <p> March 9, 2023 [9 months ago]</p>
    <ion-list><p><strong>Founder</strong></p></ion-list>
    <p> BTS</p>
    <ion-list><p><strong>Location</strong></p></ion-list>
    <p> Worldwide </p>
    <ion-list><p><strong>Color</strong></p></ion-list>
    <p> Purple </p>
    </ion-card-content>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
        <ion-card-subtitle>2013년 데뷔해 국내외 신인상을 휩쓴 방탄소년단은 명실상부 한국을 대표하는 최정상 보이 그룹으로 성장했다. 전 세계적으로 방탄소년단 열풍을 일으키며 ‘21세기 팝 아이콘’으로 불린다.
          미국 빌보드, 영국 오피셜 차트, 일본 오리콘을 비롯해 아이튠즈, 스포티파이, 애플뮤직 등 세계 유수의 차트 정상에 올랐고, 음반 판매량과 뮤직비디오 조회수, SNS 지수 등에서도 독보적인 기록을 써 내려가고 있다. 특히, 방탄소년단은 한 주에 빌보드 ‘핫 100’ 차트와 ‘빌보드 200’ 차트 정상을 동시 정복한 최초의 그룹이며, 통산 ‘빌보드 200’ 5차례, ‘핫 100’ 4차례 1위를 차지했다.
          또한, ‘제63회 그래미 어워드’에서 한국 가수 최초로 단독 무대를 펼쳐 ‘빌보드 뮤직 어워드’와 ‘아메리칸 뮤직 어워드’, ‘그래미 어워드’까지 미국 3대 음악 시상식 무대에서 공연하는 기록을 세웠다. 방탄소년단은 스타디움 투어를 개최하며 전 세계 콘서트 시장에서도 글로벌 아티스트로서의 입지를 다져 왔으며, UN 연설과 LOVE MYSELF 캠페인 등을 통해 선한 영향력을 실천하고 있다.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> -BTS- </ion-card-content>
    </ion-card>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>2013</ion-card-title>
        <ion-card-subtitle>"A.R.M.Y" stands for "Adorable Representative M.C.for Youth" and it carries quite some meaning behind it, give that "Army" is associated with the military, body armor, and how those two things are always together, the fandom name basically means that fans will always be together with BTS.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> -Purple Army- </ion-card-content>
    </ion-card>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>2017</ion-card-title>
        <ion-card-subtitle>BTS and A.R.M.Y are almost mirrored images of each other and they have a relationship that is affected by each other. The symbol of A.R.M.Y is expressed as a door on their viewpoint who is waiting & welcoming BTS on the opposite door when BTS opens a new door.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> -Army- </ion-card-content>
    </ion-card>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Member</ion-card-title>
        <ion-card-subtitle>RM</ion-card-subtitle>
        <ion-card-subtitle>JIN</ion-card-subtitle>
        <ion-card-subtitle>SUGA</ion-card-subtitle>
        <ion-card-subtitle>J-HOPE</ion-card-subtitle>
        <ion-card-subtitle>JIMIN</ion-card-subtitle>
        <ion-card-subtitle>V</ion-card-subtitle>
        <ion-card-subtitle>JUNGKOOK</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    