<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-md="9">
          <!-- Konten Kolom Pertama -->
            
              <ion-card-header>
                <ion-card-title color="primary">Admin</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list><p> Annyeong..! Biodata singkat mengenai saya :</p></ion-list>
                  
                  <p><strong>Nama  :</strong> Wulansari</p>
                  <p><strong>Line  :</strong> 04 Maret 2001</p>
                  <p><strong>Peran :</strong> Admin Purple Army</p>
                 
                  <p><strong>Askot :</strong> Medan</p>
                  <p><strong>No HP :</strong> +62 85362541740</p>
                </ion-card-content>
            
            <ion-card-content>
              
              <ion-card-subtitle><strong>Status</strong> Mahasiswa di Institut Teknologi dan Bisnis Indonesia</ion-card-subtitle>
              <!-- Informasi tambahan -->
              <p>
                Dan saya adalah seorang admin grup fanbase "Purple Army Indonesia" sekaligus salah satu army nya BTS</p>
              <p>yang mempunyai bias bernama Jimin. Saya bergabung fandom ini pada tahun 2020 sampai sekarang.</p>
              <!-- Informasi tambahan tentang pendidikan, sertifikasi, atau proyek -->
            </ion-card-content>
          
        </ion-col>
        <ion-col size-md="3">
          <!-- Konten Kolom Kedua dengan Foto Responsif -->
          
            <ion-card-content class="profile-image">
              <img src="assets/img/W.jpeg" alt="Foto Profil">
            </ion-card-content> 

        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">Bangtan Sonyeondan</ion-title>
      </ion-toolbar>
    </ion-header>
      
    
    <ion-card-header>
      <ion-card-title color="">Tentang</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list><p>BTS atau Bangtan Boys adalah grup vokal pria asal Korea Selatan. Grup ini beranggotakan tujuh orang, antara lain RM, J-Hope, Suga, Jin, V, Jungkook, dan Jimin, yang dikelola oleh Big Hit Music. Nama tersebut kemudian berakronim menjadi Beyond The Scene pada Juli 2017.</p></ion-list>
        
        <p><strong>Label rekaman  :</strong> Bighit Music, Universal Music Group, dll. </p>
        <p><strong>Aktif sejak :</strong> 2013 </p>
        <p><strong>Genre :</strong> Pop Korea, Hip hop, R&B kontemporer, Musik dansa elektronik. </p>
       
        <p><strong>Nama lain: </strong> Bangtan Boys, Bulletproof Boy Scouts, Beyond The Scene, Bangtan Sonyeondan. </p>
      </ion-card-content>

    <img src="assets/img/B1.jpeg">

  
      <ion-card-header>
        <ion-card-title color="">Album Song</ion-card-title>
        <ion-card-subtitle>Top 10 Best Songs Greatest Hits</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Dynamite.jpeg" />
            </ion-thumbnail>
            <ion-label>Dynamite</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Boy.jpeg" />
            </ion-thumbnail>
            <ion-label>Boy With Luv</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Mic.jpeg" />
            </ion-thumbnail>
            <ion-label>Mic Drop</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Idol.jpeg" />
            </ion-thumbnail>
            <ion-label>Idol</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Fake.jpeg" />
            </ion-thumbnail>
            <ion-label>Fake Love</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Butter.jpeg" />
            </ion-thumbnail>
            <ion-label>Butter</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Dance.jpeg" />
            </ion-thumbnail>
            <ion-label>Permission To Dance</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Life.jpeg" />
            </ion-thumbnail>
            <ion-label>Life Goes On</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Fire.jpeg" />
            </ion-thumbnail>
            <ion-label>Fire</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Dna.jpeg" />
            </ion-thumbnail>
            <ion-label>DNA</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="assets/img/Run.jpeg" />
            </ion-thumbnail>
            <ion-label>RUN</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    